<div class="container mt-4">
  <h2>My Orders</h2>

  <div
    *ngIf="alertMessage"
    class="alert alert-{{ alertType }} alert-dismissible fade show"
    role="alert"
  >
    {{ alertMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="resetAlertMessage()"
      aria-label="Close"
    ></button>
  </div>

  <div *ngIf="myOrders?.length; else noOrders">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="bg-primary text-white">#</th>
          <th class="bg-primary text-white">Tracking ID</th>
          <th class="bg-primary text-white">Net Amount</th>
          <th class="bg-primary text-white">Description</th>
          <th class="bg-primary text-white">Address</th>
          <th class="bg-primary text-white">Date</th>
          <th class="bg-primary text-white">Status</th>
          <th class="bg-primary text-white">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of myOrders; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ order.trackingId }}</td>
          <td>{{ order.totalAmount | currency }}</td>
          <td>{{ order.orderDescription }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.date | date : "medium" }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>
            <button
              class="btn btn-success btn-sm"
              [disabled]="order.orderStatus !== 'DELIVERED'"
              (click)="navigateToReview(order.id)"
            >
              Review
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noOrders>
    <p class="text-center text-muted">No orders found.</p>
  </ng-template>
</div>
