<div class="container mt-4">
  <h1 class="mb-4">Customer Dashboard</h1>

  <div
    *ngIf="alertMessage"
    class="alert alert-{{ alertType }} alert-dismissible fade show"
    role="alert"
  >
    {{ alertMessage }}
  </div>

  <form [formGroup]="searchProductForm" (ngSubmit)="submitForm()" class="mb-4">
    <div class="input-group">
      <input
        type="text"
        formControlName="title"
        class="form-control"
        placeholder="Search for products..."
      />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="searchProductForm.invalid"
      >
        Search
      </button>
    </div>
  </form>

  <div class="row">
    <div
      class="col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let product of products"
    >
      <div class="card h-100 shadow-sm">
        <img
          [src]="product.image"
          class="card-img-top"
          alt="Product Image"
          style="height: 200px; object-fit: contain"
          width="300"
          height="300"
        />

        <div class="card-body">
          <h5
            class="card-title"
            style="cursor: pointer"
            routerLink="/customer/product/{{ product.id }}"
          >
            {{ product.name }}
          </h5>
          <p
            class="card-text text-truncate"
            *ngIf="!product.showFullDescription"
          >
            {{ product.description | slice : 0 : 100 }}...
          </p>

          <p class="card-text" *ngIf="product.showFullDescription">
            {{ product.description }}
          </p>

          <button
            (click)="toggleDescription(product)"
            class="btn btn-link p-0"
            style="
              font-size: 0.9rem;
              color: #002042;
              text-decoration: none;
              padding: 0;
            "
          >
            {{ product.showFullDescription ? "Show Less" : "Show More" }}
          </button>
        </div>

        <div class="product-details mt-3 row m-1">
          <div class="col-6">
            <p class="product-price mb-0">
              <strong>Price:</strong> ${{ product.price }}
            </p>
          </div>
          <div class="col-6 text-end">
            <p class="product-category mb-0 text-muted">
              <strong>Category:</strong> {{ product.categoryName }}
            </p>
          </div>
        </div>

        <div class="card-footer d-flex justify-content-end">
          <button
            class="btn btn-primary btn-sm m-1"
            (click)="addToCart(product.id)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
